@charset "UTF-8";

/** Importações **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/** Váriaveis**/
:root{
    --cor0: #0ced57cc;
    --cor1: #1eee3dbe;
    --cor2: #00E03B;
    --cor3: #55F70C;
    --cor4: #0ced9ed5;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/** Seletor de todos elementos **/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
}

header{
    background-color: var(--cor2);
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
}

nav{
    background-color: var(--cor0);
}

main h1{
    font-family: var(--fonte-android);
}