@charset "UTF-8";

/** Importações **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/** Váriaveis**/
:root{
    --cor0: #0b6428cc;
    --cor1: #1eee3dbe;
    --cor2: #00E03B;
    --cor3: #55F70C;
    --cor4: #0ced9ed5;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/** Seletor de todos elementos **/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    min-height: 150px;
    text-align: center;
    padding-top: 25px;
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    padding-bottom: 21px;
}

header p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

nav{
    background-color: var(--cor2);
}

main{
    background-color: blanchedalmond;
    margin: auto;
    margin-bottom: 25px;
    max-width: 1000px;
    min-width: 100px;
    padding: 20px;
    box-shadow: 4px 5px 16px rgba(0, 0, 0, 0.692);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

main h1{
    font-family: var(--fonte-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 40%;
    display: block;
    margin: auto;
}