@charset "UTF-8";

/** Importações **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/** Váriaveis**/
:root{
    --cor0: #3ECC08;
    --cor1: #7aca55b7;
    --cor2: #6F3625;
    --cor3: #2E3336;
    --cor4: #322219bd;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/** Seletor de todos elementos **/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}

header{
    background-color: var(--cor4);
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
}

nav{
    background-color: var(--cor);
}

main h1{
    font-family: var(--fonte-android);
}